################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/SpaceInvaders/v15
/Content/bin/Windows
/bin/Windows/x86/Debug
